<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <H2>Add new Chat</H2>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="Enter you Name"><br><br>
        <textarea name="msg" placeholder="Enter your msg..."></textarea><br><br>
        <input type="text" name="to" placeholder="Enter Recivers Name"><br><br>
        <button class="btn-addchat">Add Chat</button>
    </form>
    
</body>
</html>